.header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 32px 130px 48px 130px;
}
a {
    text-decoration: none;
}