.search-form__input {
    border: 1px solid #333333;
    outline: none;
    font-weight: bolder;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    padding-bottom: 6px;
    padding-top: 11px;
    width: 320px;
}

input::-webkit-input-placeholder {
    font-weight: normal;
}